# Oracle SQL Developer Data Modeler — binary/installer
/datamodeler/

# Oracle Data Modeler project files (XML internal tool, bukan SQL)
*.dmd
*.local
ChangeRequests.local
dl_settings.xml

# Windows shortcuts
*.lnk

# Logs
*.log
*.log.*
